@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Inter", sans-serif;
}

.top-bar {
  background-color: #013d29;
  @apply flex px-10 py-1 w-full justify-between;
}

header {
  @apply flex my-5 px-10 justify-between;

  .store {
    @apply w-9 h-9;
  }

  .header-title {
    color: #013d29;
    @apply font-bold text-xl ml-2 mt-1;
  }

  .nav {
    @apply flex mx-4 mt-1;

    li {
      @apply mx-4 cursor-pointer hover:text-gray-400 transition-colors;
    }
  }

  .search {
    @apply bg-gray-100 px-3 py-1 border border-gray-200 rounded-2xl outline-none text-gray-500 w-96;
  }

  .header-right {
    @apply mt-1;

    img {
      @apply w-6 h-6 mr-2;
    }
  }
}

.wrapper {
  @apply w-11/12 m-auto;
}

.hero {
  background-color: #fcf0e4;
  @apply w-full flex;

  .left-side {
    @apply w-2/5 py-20 px-14;

    .hero-text {
      @apply font-extrabold text-3xl;
      color: #013d29;
    }

    .hero-btn {
      background-color: #013d29;
      @apply mt-5 py-3 px-6 rounded-3xl text-white;
    }

    .hero-btn:hover {
      @apply bg-green-700 text-white py-4 px-7 rounded-full transition-all;
    }
  }

  .right-side {
    @apply w-3/5;

    img {
      @apply w-64 h-64 m-auto;
    }
  }
}

.products {
  @apply w-full mt-5;

  .top-block {
    @apply justify-between flex;

    h1 {
      @apply font-extrabold text-2xl;
    }

    select {
      @apply border border-black rounded-3xl pl-3 outline-none;
    }
  }

  .products-card {
    @apply w-full flex flex-wrap mx-3;
  }

  .card {
    @apply w-[230px] mb-20 rounded-md mx-8 my-5 border border-gray-300 pt-1 pb-3 px-1 rounded-xl;

    .image-block {

      .favorite {
        @apply flex justify-end;

        img {
          @apply w-5 h-5 m-3 cursor-pointer;
        }
      }

      .image {
        @apply flex justify-center items-center pb-3;

        img {
          @apply w-[150px] h-[130px];
        }
      }
    }

    .info-block {
      @apply flex justify-between mx-2 my-2;

      p {
        @apply text-sm font-mono font-bold;
      }
    }

    button {
      @apply px-3 py-2 rounded-3xl ml-1 text-sm;

      border: 1px solid #013d29;
    }

    button:hover {
      @apply px-3 py-2 rounded-3xl ml-1 text-sm text-white transition-colors;

      background-color: #013d29;
    }

  }
}

.deals {
  .deals-header {
    color: #013d29;
    @apply text-center m-10 font-extrabold text-2xl;
  }

  .deals-list {
    @apply w-4/5 h-full m-auto;

    .deal-item {
      border: 2px solid #013d29;
      @apply flex m-10 px-10 py-5 rounded-lg justify-between;

      span {
        color: #013d29;
        @apply font-semibold text-xl;
      }
    }
  }
}

.whats-new-section {
  .product {
    background-color: #f3ce64;
    @apply mt-20 w-4/5 h-full m-auto flex;

    .left-side {
      @apply w-2/4 h-96 flex justify-center items-center;

      h2 {
        @apply font-bold text-5xl text-center;
      }
    }

    button {
      background-color: #013d29;
      @apply mt-5 py-3 px-6 rounded-3xl text-white;
    }
  }

  .right-side {
    @apply w-2/4 h-full flex justify-center items-center;

    img {
      @apply w-96 h-96;
    }
  }
}

.account {
  @apply m-auto w-[90%];
    
  h1 {
      @apply text-2xl font-extrabold pb-2 border-b border-gray-300;
    }

  .favorite-items {
    @apply flex flex-wrap;

    .favorite-card {
      @apply flex w-[420px] h-[140px] mx-20 my-5 bg-gray-200 border border-black;

      .left-side {
        @apply w-1/4 flex justify-center items-center;

        img {
          @apply w-28 h-28 ml-5 bg-white;
        }
      }

      .right-side {
        @apply w-3/4 pl-10 mt-4 pl-20;
        
        span {
          @apply text-lg block my-2;
        }

        b {
          @apply text-lg block my-2;
        }
      }
    }
  }
}
